@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.App {
    height: 768px;
    width: 1366px;
    background-color: #E5E5E5;
    margin: 10px;
    padding: 10px;

}

.container {
    display: flex;
    grid-gap: 29px;
}

.home {
    color: gray;
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
}